.shapka{
    background-color: rgb(255, 255, 255);
    height: 70px;
    justify-content: center;
    align-items: center;
    display: flex;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}

body{
    background-color: rgba(148, 159, 179, 0.856);
    margin: 0;
}
.shapka__links a{
    display: inline-flex;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 25px;
    font-size: 17px;
    color:rgb(0, 0, 0);
}
.shapka__links_price{
    transition: color 0.9s;
    transition: transform 0.7s;
}
.shapka__links_price:hover{
    color: rgb(72, 118, 218);
    transform: scale(110%);
}
.shapka__links_uslugi{
    transition: color 0.9s;
    transition: transform 0.7s;
}
.shapka__links_uslugi:hover{
    color: rgb(72, 118, 218);
    transform: scale(110%);
}
.shapka__links_onas{
    transition: color 0.9s;
    transition: transform 0.7s;
}
.shapka__links_onas:hover{
    color: rgb(72, 118, 218);
    transform: scale(110%);
}
.shapka__links_credits{
    transition: color 0.9s;
    transition: transform 0.7s;
}
.shapka__links_credits:hover{
    color: rgb(72, 118, 218);
    transform: scale(110%);
}
.shapka__links_scheme{
    transition: color 0.9s;
    transition: transform 0.7s;
}
.shapka__links_scheme:hover{
    color: rgb(72, 118, 218);
    transform: scale(110%);
}
.shapka__logo{
    display: block;
    min-width: 200px;
}
.shapka__socseti{
    display: flex;
    padding: 25px;
    position: relative;
    top: 7px;
}
.shapka__socseti_telegram{
    transform: scale(0.7);
    transition: transform 0.7s;
}
.shapka__socseti_whatsapp{
    transform: scale(0.7);
    transition: transform 0.7s;
}
.shapka__socseti_whatsapp:hover{
    transform: scale(80%);
}
.shapka__socseti_telegram:hover{
    transform: scale(80%);
}