.head{
    display: flex;
    background-color: rgb(255, 255, 255);
    font-family: 'FuturaPT',Arial,sans-serif;
    font-size: 12px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.1);
}
.head__logo-container{
    width: 70px;
    margin-right: 140px;
}
.head__whatsapp{
    margin-left: 30px;
    transition: transform 0.8s;
}
.head__whatsapp:hover{
    transform: rotate(360deg);
}
.head__telegram{
    margin-left: 30px;
    transition: transform 0.8s;
}
.head__telegram:hover{
    transform: rotate(360deg);
}
.head__logo {
    display: inline-block;
    border: 2px solid rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 20px 30px 20px;
  }
.head__price{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 20px;
    font-weight: bold;
    transition: transform 0.3s, color 0.3s;
}
.head__price:hover{
    transform: scale(120%);
    color: rgb(118, 183, 221);
}
.head__services{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 20px;
    font-weight: bold;
    transition: transform 0.3s, color 0.3s;
}
.head__services:hover{
    transform: scale(120%);
    color: rgb(118, 183, 221);
}
.head__onas{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 20px;
    font-weight: bold;
    transition: transform 0.3s, color 0.3s;
}
.head__onas:hover{
    transform: scale(120%);
    color: rgb(118, 183, 221);
}
.head__scheme{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 20px;
    font-weight: bold;
    transition: transform 0.3s, color 0.3s;
}
.head__scheme:hover{
    transform: scale(120%);
    color: rgb(118, 183, 221);
}
.head__contact{
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 20px;
    font-weight: bold;
    transition: transform 0.3s, color 0.3s;
}
.head__contact:hover{
    transform: scale(120%);
    color: rgb(118, 183, 221);
}
body{
    background-color: rgb(95, 104, 101);
    margin: 0;
}